{% extends "base.html.twig" %}

{% block title %} Log in {% endblock %}

{% block body %}
<div class="container mt-4">
    
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="usename"> Username</label>
            <input type="text" id='username' name="_username" class="form-control" value="{{ last_username }}">
        </div>

        <div class="form-group">
            <label for="password"> Password</label>
            <input type="password" id='password' name="_password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary"> Connect</button>
    </form>

</div>
{% endblock %}