{% extends "base.html.twig" %}

{% block title %} My Agence {% endblock %}

{% block body %}

    <div class="jumbotron text-center">
            <h1>Welcom to Home page</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printe
            </p>
    </div>

    <div class="container">
        <h2>The last properties</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}