 {% for message in app.flashes('success') %}
    <dic class="alert alert-success">
        {{ message }}
    </dic>
{% endfor %}

 {% for message in app.flashes('error') %}
    <dic class="alert alert-error">
        {{ message }}
    </dic>
{% endfor %}